<div data-teacherselect="">
	{% for teacher in teachers %}
	    <li class="uvm--option ds-teacher-option" data-teacherid="{{ teacher.Id }}">
			{{ teacher.LastName }}
			{{ teacher.FirstName }}
			{{ teacher.MiddleName }}
	    </li>
	{% endfor %}
</div>

<table data-dstable="">
	{% for teacher in teachers %}
		<tr data-userid="{{ teacher.Id }}">
			<td align="center">
				{{ teacher.Id }}
			</td>
			<td>
				{{ teacher.LastName }}
				{{ teacher.FirstName }}
				{{ teacher.MiddleName }}
			</td>
		</tr>
	{% endfor %}
</table>