<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Operator</title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/operator.css">
	<link rel="stylesheet" href="/css/toggle.css">
</head>
<body>
	<div class="wrapper flex fdc">
		<div class="header flex jcsa alic">
			<div class="logo">
				<img src="/images/logo.svg" alt="">
			</div>
			<div class="buttons flex jcsb alic">
				<div class="tab active" id="student">
					Студент
				</div>
				<div class="tab" id="group">
					Група
				</div>
				<div class="tab" id="teacher">
					Викладач
				</div>
				<div class="tab" id="operator">
					Оператор
				</div>
				<div class="tab" id="discipline">
					Дисципліна
				</div>
				<div class="tab" id="program">
					Робоча програма
				</div>
				<div class="border">
					
				</div>
			</div>
			<a href="/user/logout" class="logout">
				<img src="/images/logout.svg" alt="">
			</a>
		</div>
		<div class="main flex jcc">
			<div class="flex jcc alic fdc content" id="student-content">
				<div class="content-wrapper">
					<div class="student-navigations flex jcsb">
						<div class="search student flex alic">
							<input type="text">
							<span>Пошук...</span>
						</div>
						<div class="add-student pointer">
							<img src="/images/addAccount.svg" alt="">
						</div>
					</div>
					<div class="table-wrapper">
						<table class="student-table">
							<thead>
								<tr>
									<td width="45px">
										№
									</td>
									<td width="400px">
										ПІБ
									</td>
									<td width="250px">
										Логін
									</td>
									<td width="250px">
										E-mail
									</td>
									<td width="200px">
										Телефон
									</td>
									<td width="100px">
										Група
									</td>
									<td width="100px">
										Активний
									</td>
									<td width="100px">
										Редагувати
									</td>
								</tr>
							</thead>
							<tbody>
								{% for student in users.student %}
								    <tr>
								    	<td>{{ student.Id }}</td>
								    	<td>{{ student.LastName  }} {{ student.FirstName }} {{ student.MiddleName }}</td>
								    	<td>{{ student.Login }}</td>
								    	<td>{{ student.Email }}</td>
								    	<td>{{ student.PhoneNumber }}</td>
								    	<td>{{ student.GroupTitle }}</td>
								    	<td align="center">
											<label class="uvm--toggle-container">
												{% if student.IsActive == 1 %}
													<input type="checkbox" hidden="" checked="" class="uvm--toggle">
												{% else %}
													<input type="checkbox" hidden="" class="uvm--toggle">
												{% endif %}
												<div class="uvm--round"></div>
											</label>								    		
								    	</td>
								    	<td align="center">
								    		<button data-id="{{ student.Id }}">
								    			<img src="/images/edit.svg" alt="">
								    		</button>
								    	</td>
								    </tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="flex jcc alic content" id="group-content">
				<div class="content-wrapper flex jcsb">
					<div class="left-side">
						<div class="group-navigations flex jcsb">
							<div class="search student flex alic">
								<input type="text">
								<span>Пошук...</span>
							</div>
							<div class="add-group pointer">
								<img src="/images/addGroup.svg" alt="">
							</div>
						</div>
						<div class="table-wrapper">
							<table class="group-table">
								<thead>
									<tr>
										<td width="45px">№</td>
										<td width="120px">Назва групи</td>
										<td>Курс</td>
										<td>Класний керівник</td>
										<td width="100px">Редагувати</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>ПЗ-228</td>
										<td>2</td>
										<td align="justify">
										Кривошеєва Олена Миколаївна
										</td>
										<td align="center">
											<button>
												<img src="/images/edit.svg" alt="">
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="right-side">
						<div class="group-vigations flex jcfe">
							<div class="pointer add-to-group">
								<img src="/images/addToGroup.svg" alt="">
							</div>
						</div>
						<div class="table-wrapper">
							<table class="group">
								<thead>
									<td width="550px">Назва дисципліни</td>
									<td width="100px">Відчитано</td>
									<td width="100px">Редагувати</td>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="flex jcc alic content" id="teacher-content">
				<div class="content-wrapper">
					<div class="teacher-navigations flex jcsb">
						<div class="search teacher flex alic">
							<input type="text">
							<span>Пошук...</span>
						</div>
						<div class="add-teacher pointer">
							<img src="/images/addAccount.svg" alt="">
						</div>
					</div>
					<div class="table-wrapper">
						<table class="teacher-table">
							<thead>
								<tr>
									<td width="45px">
										№
									</td>
									<td width="400px">
										ПІБ
									</td>
									<td width="250px">
										Логін
									</td>
									<td width="250px">
										E-mail
									</td>
									<td width="200px">
										Телефон
									</td>
									<td width="100px">
										Активний
									</td>
									<td width="100px">
										Редагувати
									</td>
								</tr>
							</thead>
							<tbody>
								{% for teacher in users.teacher %}
								    <tr>
								    	<td>{{ teacher.Id }}</td>
								    	<td>{{ teacher.LastName  }} {{ teacher.FirstName }} {{ teacher.MiddleName }}</td>
								    	<td>{{ teacher.Login }}</td>
								    	<td>{{ teacher.Email }}</td>
								    	<td>{{ teacher.PhoneNumber }}</td>
								    	<td align="center">
											<label class="uvm--toggle-container">
												{% if teacher.IsActive == 1 %}
													<input type="checkbox" hidden="" checked="" class="uvm--toggle">
												{% else %}
													<input type="checkbox" hidden="" class="uvm--toggle">
												{% endif %}
												<div class="uvm--round"></div>
											</label>								    		
								    	</td>
								    	<td align="center">
								    		<button data-id="{{ teacher.Id }}">
								    			<img src="/images/edit.svg" alt="">
								    		</button>
								    	</td>
								    </tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="flex jcc alic content" id="operator-content">
				<div class="content-wrapper">
					<div class="operator-navigations flex jcsb">
						<div class="search operator flex alic">
							<input type="text">
							<span>Пошук...</span>
						</div>
						<div class="add-operator pointer">
							<img src="/images/addAccount.svg" alt="">
						</div>
					</div>
					<div class="table-wrapper">
						<table class="operator-table">
							<thead>
								<tr>
									<td width="45px">
										№
									</td>
									<td width="400px">
										ПІБ
									</td>
									<td width="250px">
										Логін
									</td>
									<td width="250px">
										E-mail
									</td>
									<td width="200px">
										Телефон
									</td>
									<td width="100px">
										Активний
									</td>
									<td width="100px">
										Редагувати
									</td>
								</tr>
							</thead>
							<tbody>
								{% for operator in users.operator %}
								    <tr>
								    	<td>{{ operator.Id }}</td>
								    	<td>{{ operator.LastName  }} {{ operator.FirstName }} {{ operator.MiddleName }}</td>
								    	<td>{{ operator.Login }}</td>
								    	<td>{{ operator.Email }}</td>
								    	<td>{{ operator.PhoneNumber }}</td>
								    	<td align="center">
											<label class="uvm--toggle-container">
												{% if operator.IsActive == 1 %}
													<input type="checkbox" hidden="" checked="" class="uvm--toggle">
												{% else %}
													<input type="checkbox" hidden="" class="uvm--toggle">
												{% endif %}
												<div class="uvm--round"></div>
											</label>								    		
								    	</td>
								    	<td align="center">
								    		<button data-id="{{ operator.Id }}">
								    			<img src="/images/edit.svg" alt="">
								    		</button>
								    	</td>
								    </tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="flex jcc alic content" id="discipline-content">
				<div class="content-wrapper">
					<div class="discipline-navigations flex jcsb">
						<div class="search discipline flex alic">
							<input type="text">
							<span>Пошук...</span>
						</div>
						<div class="add-discipline pointer">
							<img src="/images/addToGroup.svg" alt="">
						</div>
					</div>
					<div class="table-wrapper">
						<table class="discipline-table">
							<thead>
								<tr>
									<td width="45px">
										№
									</td>
									<td width="400px">
										Назва дисципліни
									</td>
									<td width="400px">
										Викладач
									</td>
									<td width="100px">
										Редагувати
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Кривошеєва Олена Миколаївна</td>
									<td>Krivosheeva</td>
									<td align="center">
										<button>
											<img src="/images/edit.svg" alt="">
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="flex jcc alic content" id="program-content">
				<div class="content-wrapper flex jcsb alife">
					<div class="left-side">
						<div class="table-wrapper">
							<div class="speciality-table">
								<div class="table-head flex">
									<div class="spec-number"></div>
									<div class="spec-title-head flex jcc alic">
										Спеціальність
									</div>
								</div>
								<div class="specialities">
									<div class="speciality-row">
										<div class="speciality">
											<div>
												<div class="first-level"></div>
											</div>
											<div>Програмування</div>
										</div>
										<div class="courses">
											<div class="course-row">
												<div class="course">
													<div>
													</div>
													<div>
														<div class="second-level"></div>
														<div>1 курс</div>
													</div>
												</div>
												<div class="groups-program">
													<div class="group-row">
														<div class="group-program">
															<div>
															</div>
															<div>
																<div class="third-level"></div>
																<div>
																	ПЗ-18
																</div>
															</div>
														</div>
														<div class="disciplines-program">
															<div class="discipline-row">
																<div class="discipline-program">
																	<div>
																	</div>
																	<div>
																		<div class="fourth-level"></div>
																		<div>ОКС</div>
																	</div>
																</div>
															</div>
															<div class="discipline-row">
																<div class="discipline-program">
																	<div>
																	</div>
																	<div>
																		<div class="fourth-level"></div>
																		<div>ОКС</div>
																	</div>
																</div>
															</div>
															<div class="discipline-row">
																<div class="discipline-program">
																	<div>
																	</div>
																	<div>
																		<div class="fourth-level"></div>
																		<div>ОКС</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="right-side">
						<div class="group-vigations flex jcsb">
							<div class="search student flex alic">
								<input type="text">
								<span>Пошук...</span>
							</div>
							<div class="pointer add-to-group">
								<img src="/images/addToGroup.svg" alt="">
							</div>
						</div>
						<div class="table-wrapper">
							<table class="group">
								<thead>
									<td width="550px">Назва дисципліни</td>
									<td width="100px">Відчитано</td>
									<td width="100px">Редагувати</td>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/scripts/uvm.js"></script>
	<script src="/scripts/operator/tabSwitch.js"></script>
	<script src="/scripts/operator/accordion.js"></script>
</body>
</html>