<!DOCTYPE html>
<html lang="en" class="">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Operator</title>
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/operator.css">
	<link rel="stylesheet" href="/css/toggle.css">
	<link rel="stylesheet" href="/css/modal.css">
	<link rel="stylesheet" href="/css/uvmInput.css">
	<link rel="stylesheet" href="/css/uvmSearchSelect.css">
</head>
<body>
	{% import 'operator/group.twig' as groupImp %}
	<div class="wrapper flex fdc">
		<div class="header flex jcsa alic">
			<div class="logo">
				<img src="/images/logo.svg" alt="">
			</div>
			<div class="buttons flex jcsb alic">
				<div class="tab active" id="student">
					Студент
				</div>
				<div class="tab" id="group">
					Група
				</div>
				<div class="tab" id="teacher">
					Викладач
				</div>
				<div class="tab" id="operator">
					Оператор
				</div>
				<div class="tab" id="discipline">
					Дисципліна
				</div>
				<div class="tab" id="program">
					Робоча програма
				</div>
				<div class="border">
					
				</div>
			</div>
			<a href="/user/logout" class="logout">
				<img src="/images/logout.svg" alt="">
			</a>
		</div>
		<div class="main flex jcc">
			<div class="flex jcc alic fdc content" id="student-content">
				<div class="content-wrapper">
					<div class="student-navigations flex jcsb">
						<div class="search student flex alic">
							<input type="text">
							<span>Пошук...</span>
						</div>
						<div class="add-student pointer">
							<img src="/images/addAccount.svg" alt="">
						</div>
					</div>
					<div class="table-wrapper">
						<table class="student-table user-table">
							<thead>
								<tr>
									<td width="45px">
										№
									</td>
									<td width="400px">
										ПІБ
									</td>
									<td width="250px">
										Логін
									</td>
									<td width="250px">
										E-mail
									</td>
									<td width="200px">
										Телефон
									</td>
									<td width="100px">
										Група
									</td>
									<td width="100px">
										Активний
									</td>
									<td width="100px">
										Редагувати
									</td>
								</tr>
							</thead>
							<tbody>
								{% for student in users.student %}
								    <tr data-userid="{{ student.Id }}">
								    	<td>{{ student.Id }}</td>
								    	<td>{{ student.LastName  }} {{ student.FirstName }} {{ student.MiddleName }}</td>
								    	<td>{{ student.Login }}</td>
								    	<td>{{ student.Email }}</td>
								    	<td>{{ student.PhoneNumber }}</td>
								    	<td>{{ student.GroupTitle }}</td>
								    	<td align="center">
											<label class="uvm--toggle-container">
												{% if student.IsActive == 1 %}
													<input type="checkbox" hidden="" checked="" class="uvm--toggle">
												{% else %}
													<input type="checkbox" hidden="" class="uvm--toggle">
												{% endif %}
												<div class="uvm--round"></div>
											</label>								    		
								    	</td>
								    	<td align="center">
								    		<button class="edit-student">
								    			<img src="/images/edit.svg" alt="">
								    		</button>
								    	</td>
								    </tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="flex jcc alic content" id="group-content">
				<div class="content-wrapper flex jcsb">
					<div class="left-side">
						<div class="group-navigations flex jcsb">
							<div class="search student flex alic">
								<input type="text">
								<span>Пошук...</span>
							</div>
							<div class="add-group pointer">
								<img src="/images/addGroup.svg" alt="">
							</div>
						</div>
						<div class="table-wrapper">
							<table class="group-table">
								<thead>
									<tr>
										<td width="45px">№</td>
										<td width="120px">Назва групи</td>
										<td>Курс</td>
										<td>Класний керівник</td>
										<td width="100px">Редагувати</td>
									</tr>
								</thead>
								<tbody>
									{% for group in groups %}
										{{ groupImp.tableGroup(group) }}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="right-side">
						<div class="group-navigations flex jcfe">
							<div class="pointer add-to-group">
								<img src="/images/addToGroup.svg" alt="">
							</div>
						</div>
						<div class="table-wrapper">
							<table class="group-disciplines">
								<thead>
									<td width="550px">Назва дисципліни</td>
									<td width="100px">Відчитано</td>
									<td width="100px">Редагувати</td>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="flex jcc alic content" id="teacher-content">
				<div class="content-wrapper">
					<div class="teacher-navigations flex jcsb">
						<div class="search teacher flex alic">
							<input type="text">
							<span>Пошук...</span>
						</div>
						<div class="add-teacher pointer">
							<img src="/images/addAccount.svg" alt="">
						</div>
					</div>
					<div class="table-wrapper">
						<table class="teacher-table user-table">
							<thead>
								<tr>
									<td width="45px">
										№
									</td>
									<td width="400px">
										ПІБ
									</td>
									<td width="250px">
										Логін
									</td>
									<td width="250px">
										E-mail
									</td>
									<td width="200px">
										Телефон
									</td>
									<td width="100px">
										Активний
									</td>
									<td width="100px">
										Редагувати
									</td>
								</tr>
							</thead>
							<tbody>
								{% for teacher in users.teacher %}
								    <tr data-userId="{{ teacher.Id }}">
								    	<td>{{ teacher.Id }}</td>
								    	<td>{{ teacher.LastName  }} {{ teacher.FirstName }} {{ teacher.MiddleName }}</td>
								    	<td>{{ teacher.Login }}</td>
								    	<td>{{ teacher.Email }}</td>
								    	<td>{{ teacher.PhoneNumber }}</td>
								    	<td align="center">
											<label class="uvm--toggle-container">
												{% if teacher.IsActive == 1 %}
													<input type="checkbox" hidden="" checked="" class="uvm--toggle">
												{% else %}
													<input type="checkbox" hidden="" class="uvm--toggle">
												{% endif %}
												<div class="uvm--round"></div>
											</label>  		
								    	</td>
								    	<td align="center">
								    		<button>
								    			<img src="/images/edit.svg" alt="">
								    		</button>
								    	</td>
								    </tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="flex jcc alic content" id="operator-content">
				<div class="content-wrapper">
					<div class="operator-navigations flex jcsb">
						<div class="search operator flex alic">
							<input type="text">
							<span>Пошук...</span>
						</div>
						<div class="add-operator pointer">
							<img src="/images/addAccount.svg" alt="">
						</div>
					</div>
					<div class="table-wrapper">
						<table class="operator-table user-table">
							<thead>
								<tr>
									<td width="45px">
										№
									</td>
									<td width="400px">
										ПІБ
									</td>
									<td width="250px">
										Логін
									</td>
									<td width="250px">
										E-mail
									</td>
									<td width="200px">
										Телефон
									</td>
									<td width="100px">
										Активний
									</td>
									<td width="100px">
										Редагувати
									</td>
								</tr>
							</thead>
							<tbody>
								{% for operator in users.operator %}
								    <tr data-userid="{{ operator.Id }}">
								    	<td>{{ operator.Id }}</td>
								    	<td>{{ operator.LastName  }} {{ operator.FirstName }} {{ operator.MiddleName }}</td>
								    	<td>{{ operator.Login }}</td>
								    	<td>{{ operator.Email }}</td>
								    	<td>{{ operator.PhoneNumber }}</td>
								    	<td align="center">
											<label class="uvm--toggle-container">
												{% if operator.IsActive == 1 %}
													<input type="checkbox" hidden="" checked="" class="uvm--toggle">
												{% else %}
													<input type="checkbox" hidden="" class="uvm--toggle">
												{% endif %}
												<div class="uvm--round"></div>
											</label>								    		
								    	</td>
								    	<td align="center">
								    		<button>
								    			<img src="/images/edit.svg" alt="">
								    		</button>
								    	</td>
								    </tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="flex jcc alic content" id="discipline-content">
				<div class="content-wrapper">
					<div class="discipline-navigations flex jcsb">
						<div class="search discipline flex alic">
							<input type="text">
							<span>Пошук...</span>
						</div>
						<div class="add-discipline pointer">
							<img src="/images/addToGroup.svg" alt="">
						</div>
					</div>
					<div class="table-wrapper">
						<table class="discipline-table">
							<thead>
								<tr>
									<td width="45px">
										№
									</td>
									<td width="400px">
										Назва дисципліни
									</td>
									<td width="400px">
										Викладач
									</td>
									<td width="100px">
										Редагувати
									</td>
								</tr>
							</thead>
							<tbody>
								{% for discipline in disciplines %}
								    <tr>
								    	<td>{{ discipline.Id }}</td>
								    	<td>{{ discipline.Title }}</td>
								    	<td>{{ discipline.LastName  }} {{ discipline.FirstName }} {{ discipline.MiddleName }}</td>
								    	<td align="center">
								    		<button data-groupId="{{ discipline.Id }}" data-teacherId="{{ discipline.TeacherId }}">
												<img src="/images/edit.svg" alt="">
								    		</button>
								    	</td>
								    </tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="flex jcc alic content" id="program-content">
				<div class="content-wrapper flex jcsb alife">
					<div class="left-side">
						<div class="table-wrapper">
							<div class="speciality-table">
								<div class="table-head flex">
									<div class="spec-number"></div>
									<div class="spec-title-head flex jcc alic">
										Спеціальність
									</div>
								</div>
								<div class="specialities">
									{% for speciality in specialities %}
									    <div class="speciality-row">
									    	<div class="speciality">
									    		<div>
									    			<div class="first-level"></div>
									    		</div>
									    		<div>{{ speciality.Title }}</div>
									    	</div>
									    	<div class="courses">
									    		<div class="course-row" data-specid="{{ speciality.Id }}" data-course="1">
									    			<div class="course">
									    				<div>
									    				</div>
									    				<div>
									    					<div class="second-level"></div>
									    					<div>1 курс</div>
									    				</div>
									    			</div>
									    			<!-- Template with groups -->
									    			<!-- Template with disciplines -->
									    			<div class="groups-program">
									    				
									    			</div>
									    		</div>
									    		<div class="course-row" data-specid="{{ speciality.Id }}" data-course="2">
									    			<div class="course">
									    				<div>
									    				</div>
									    				<div>
									    					<div class="second-level"></div>
									    					<div>2 курс</div>
									    				</div>
									    			</div>
									    			<!-- Template with groups -->
									    			<!-- Template with disciplines -->
									    			<div class="groups-program">
									    				
									    			</div>
									    		</div>
									    		<div class="course-row" data-specid="{{ speciality.Id }}" data-course="3">
									    			<div class="course">
									    				<div>
									    				</div>
									    				<div>
									    					<div class="second-level"></div>
									    					<div>3 курс</div>
									    				</div>
									    			</div>
									    			<!-- Template with groups -->
									    			<!-- Template with disciplines -->
									    			<div class="groups-program">
									    				
									    			</div>
									    		</div>
									    		<div class="course-row" data-specid="{{ speciality.Id }}" data-course="4">
									    			<div class="course">
									    				<div>
									    				</div>
									    				<div>
									    					<div class="second-level"></div>
									    					<div>4 курс</div>
									    				</div>
									    			</div>
									    			<!-- Template with groups -->
									    			<!-- Template with disciplines -->
									    			<div class="groups-program">
									    				
									    			</div>
									    		</div>
									    	</div>
									    </div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="right-side">
						<div class="group-navigations flex jcsb">
							<div class="search student flex alic">
								<input type="text">
								<span>Пошук...</span>
							</div>
							<div class="pointer add-to-group">
								<img src="/images/addToGroup.svg" alt="">
							</div>
						</div>
						<div class="table-wrapper">
							<table class="themes">
								<thead>
									<td width="550px">Назва теми</td>
									<td width="100px">Редагувати</td>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="student-modal-wrapper modal-wrapper student-modal flex jcc alic">
		<form class="student-modal-content flex jcsb fdc" name="addStudent">
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="firstName" class="uvm--input" >
				<label for="login" class="uvm--label">Ім'я</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="lastName" class="uvm--input" >
				<label for="login" class="uvm--label">Прізвище</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="middleName" class="uvm--input" >
				<label for="login" class="uvm--label">По батькові</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="email" class="uvm--input" >
				<label for="login" class="uvm--label">E-mail</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="number" class="uvm--input" >
				<label for="login" class="uvm--label">Номер телефону</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="login" class="uvm--input" >
				<label for="login" class="uvm--label">Логін</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" type="password" placeholder="Login" name="password" class="uvm--input">
				<label for="login" class="uvm--label">Пароль</label>
			</div>
			<div class="uvm--select st-group-select">
				<div class="uvm--current-item">
					Оберіть групу
				</div>
				<div class="uvm--options">
					<div class="uvm--search-container">
						<input type="text" placeholder="Пошук..." class="uvm--input-search">
					</div>
					<ul class="st-gr uvm--options-list">
						{% for group in groups %}
							{{ groupImp.selectGroup(group) }}
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="modal-controls flex jcsb">
				<button class="close-modal">
					Відміна
				</button>
				<button class="accept-student">
					Додати
				</button>
			</div>
		</form>
	</div>
	<div class="group-modal-wrapper modal-wrapper group-modal flex jcc alic">
		<form class="group-modal-content flex jcsb fdc" name="addGroup">
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="groupTitle" class="uvm--input">
				<label for="login" class="uvm--label">Назва</label>
			</div>
			<div class="uvm--select gr-group-select">
				<div class="uvm--current-item">
					Оберіть класного керівника
				</div>
				<div class="uvm--options">
					<div class="uvm--search-container">
						<input type="text" placeholder="Пошук..." class="uvm--input-search">
					</div>
					<ul class="uvm--options-list">
						{% for teacher in users.teacher %}
						    <li class="uvm--option teacher-option" data-teacherid="{{ teacher.Id }}">
						    	{{ teacher.LastName }}
						    	{{ teacher.FirstName }}
						    	{{ teacher.MiddleName }}
						    </li>
						{% endfor %}						
					</ul>
				</div>
			</div>
			<div class="uvm--select spec-group-select">
				<div class="uvm--current-item">
					Оберіть спеціальність
				</div>
				<div class="uvm--options">
					<div class="uvm--search-container">
						<input type="text" placeholder="Пошук..." class="uvm--input-search">
					</div>
					<ul class="uvm--options-list">
						{% for speciality in specialities %}
						    <li class="uvm--option spec-option" data-specid="{{ speciality.Id }}">
						    	{{ speciality.Title }}
						    </li>
						{% endfor %}						
					</ul>
				</div>
			</div>
			<div class="modal-controls flex jcsb">
				<button class="close-modal">
					Відміна
				</button>
				<button class="accept-group">
					Додати
				</button>
			</div>
		</form>
	</div>
	<div class="ds-group-modal-wrapper modal-wrapper ds-group-modal flex jcc alic">
		<form class="ds-group-modal-content flex jcsb fdc" name="addDisciplToGroup">
			<div class="uvm--select ds-group-select">
				<div class="uvm--current-item">
					Оберіть дисципліну
				</div>
				<div class="uvm--options">
					<div class="uvm--search-container">
						<input type="text" placeholder="Пошук..." class="uvm--input-search">
					</div>
					<ul class="uvm--options-list">
						{% for discipline in disciplines %}
						    <li class="uvm--option ds-group-option" data-disciplineid="{{ discipline.Id }}">
						    	{{ discipline.Title }}
						    </li>
						{% endfor %}					
					</ul>
				</div>
			</div>
			<div class="uvm--select ds-teacher-select">
				<div class="uvm--current-item">
					Оберіть викладача
				</div>
				<div class="uvm--options">
					<div class="uvm--search-container">
						<input type="text" placeholder="Пошук..." class="uvm--input-search">
					</div>
					<ul class="uvm--options-list gr-ds-teachers">
						
					</ul>
				</div>
			</div>
			<div class="modal-controls flex jcsb">
				<button class="close-modal">
					Відміна
				</button>
				<button class="accept-ds-group">
					Додати
				</button>
			</div>
		</form>
	</div>
	<div class="teacher-modal-wrapper modal-wrapper teacher-modal flex jcc alic">
		<form class="teacher-modal-content flex jcsb fdc" name="addTeacher">
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="firstName" class="uvm--input" >
				<label for="login" class="uvm--label">Ім'я</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="lastName" class="uvm--input" >
				<label for="login" class="uvm--label">Прізвище</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="middleName" class="uvm--input" >
				<label for="login" class="uvm--label">По батькові</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="email" class="uvm--input" >
				<label for="login" class="uvm--label">E-mail</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="number" class="uvm--input" >
				<label for="login" class="uvm--label">Номер телефону</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="login" class="uvm--input" >
				<label for="login" class="uvm--label">Логін</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" type="password" placeholder="Login" name="password" class="uvm--input">
				<label for="login" class="uvm--label">Пароль</label>
			</div>
			<div class="modal-controls flex jcsb">
				<button class="close-modal">
					Відміна
				</button>
				<button class="accept-teacher">
					Додати
				</button>
			</div>
		</form>
	</div>
	<div class="operator-modal-wrapper modal-wrapper operator-modal flex jcc alic">
		<form class="operator-modal-content flex jcsb fdc" name="addOperator">
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="firstName" class="uvm--input" >
				<label for="login" class="uvm--label">Ім'я</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="lastName" class="uvm--input" >
				<label for="login" class="uvm--label">Прізвище</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="middleName" class="uvm--input" >
				<label for="login" class="uvm--label">По батькові</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="email" class="uvm--input" >
				<label for="login" class="uvm--label">E-mail</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="number" class="uvm--input" >
				<label for="login" class="uvm--label">Номер телефону</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" placeholder="Login" name="login" class="uvm--input" >
				<label for="login" class="uvm--label">Логін</label>
			</div>
			<div class="uvm--input-wrapper">
				<input autocomplete="off" type="password" placeholder="Login" name="password" class="uvm--input">
				<label for="login" class="uvm--label">Пароль</label>
			</div>
			<div class="modal-controls flex jcsb">
				<button class="close-modal">
					Відміна
				</button>
				<button class="accept-operator">
					Додати
				</button>
			</div>
		</form>
	</div>
	<script src="/scripts/uvm.js"></script>
	<script src="/scripts/modal.js"></script>
	<script src="/scripts/operator/tabSwitch.js"></script>
	<script src="/scripts/operator/workingProgram.js"></script>
	<script src="/scripts/operator/student.js"></script>
	<script src="/scripts/operator/teacher.js"></script>
	<script src="/scripts/operator/operator.js"></script>
	<script src="/scripts/operator/group.js"></script>
	<script src="/scripts/operator/userStatus.js"></script>
	<script src="/scripts/operator/accordion.js"></script>
	<script src="/scripts/uvmSearchSelect.js"></script>
</body>
</html>
