<tr data-userid="{{ user.id }}">
	<td>{{ user.id }}</td>
	<td class="editable">{{ user.lastName  }}</td>
	<td class="editable">{{ user.firstName }}</td>
	<td class="editable">{{ user.middleName }}</td>
	<td class="editable">{{ user.email }}</td>
	<td class="editable">{{ user.login }}</td>
	<td class="editable">{{ user.number }}</td>
	<td align="center">
		<label class="uvm--toggle-container">
			<input type="checkbox" hidden="" checked="" class="uvm--toggle">
			<div class="uvm--round"></div>
		</label>								    		
	</td>
	<td align="center">
		<button class="edit-operator">
			<img src="/images/edit.svg" alt="">
		</button>
	</td>
</tr>
