<tr data-userid="{{ user.id }}">
	<td>{{ user.id }}</td>
	<td class="editable">
		{{ user.LastName  }}
	</td>		
	<td class="editable">
		{{ user.FirstName }}	
	</td>
	<td class="editable">
		{{ user.MiddleName }}	
	</td>
	<td class="editable">{{ user.Email }}</td>
	<td class="editable">{{ user.Login }}</td>
	<td class="editable">{{ user.PhoneNumber }}</td>
	<td class="st-group">{{ user.groupTitle }}</td>
	<td align="center">
		<label class="uvm--toggle-container">
			<input type="checkbox" hidden="" checked="" class="uvm--toggle">
			<div class="uvm--round"></div>
		</label>
	</td>
	<td align="center">
		<button class="edit-student">
			<img src="/images/edit.svg" alt="">
		</button>
	</td>
</tr>
