<tr data-userid="{{ user.id }}">
	<td>{{ user.id }}</td>
	<td>{{ user.lastName  }} {{ user.firstName }} {{ user.middleName }}</td>
	<td>{{ user.login }}</td>
	<td>{{ user.email }}</td>
	<td>{{ user.number }}</td>
	<td>{{ user.groupTitle }}</td>
	<td align="center">
		<label class="uvm--toggle-container">
			<input type="checkbox" hidden="" checked="" class="uvm--toggle">
			<div class="uvm--round"></div>
		</label>
	</td>
	<td align="center">
		<button class="edit-student">
			<img src="/images/edit.svg" alt="">
		</button>
	</td>
</tr>
