
{% macro tableTeacher(teacher) %}
	<tr data-userid="{{ teacher.Id }}">
		<td>{{ teacher.Id }}</td>
		<td class="editable">{{ teacher.LastName  }}</td>
		<td class="editable">{{ teacher.FirstName }}</td>
		<td class="editable">{{ teacher.MiddleName }}</td>
		<td class="editable">{{ teacher.Email }}</td>
		<td class="editable">{{ teacher.Login }}</td>
		<td class="editable">{{ teacher.PhoneNumber }}</td>
		<td align="center">
			<label class="uvm--toggle-container">
				<input type="checkbox" hidden="" checked="" class="uvm--toggle">
				<div class="uvm--round"></div>
			</label>  		
		</td>
		<td align="center">
			<button class="edit-teacher">
				<img src="/images/edit.svg" alt="">
			</button>
		</td>
	</tr>
{% endmacro %}

{% macro teacherSelect(teacher, cls) %}
	<li class="uvm--option {{ cls }} teacher" data-userid="{{ teacher.Id }}">
		{{ teacher.LastName }} {{ teacher.FirstName }} {{ teacher.MiddleName }}
	</li>
{% endmacro %}

{% macro disciplineTeacher(teacher) %}
	<tr data-userid="{{ teacher.Id }}">
		<td align="center">
			{{ teacher.Id }}
		</td>
		<td class="teacher" data-userid="{{ teacher.Id }}">
			{{ teacher.LastName }} {{ teacher.FirstName }} {{ teacher.MiddleName }}
		</td>
	</tr>
{% endmacro %}
