
{% macro tableTeacher(teacher) %}
	<tr data-userid="{{ teacher.Id }}">
		<td>{{ teacher.Id }}</td>
		<td>{{ teacher.LastName  }} {{ teacher.FirstName }} {{ teacher.MiddleName }}</td>
		<td>{{ teacher.Login }}</td>
		<td>{{ teacher.Email }}</td>
		<td>{{ teacher.PhoneNumber }}</td>
		<td align="center">
			<label class="uvm--toggle-container">
				<input type="checkbox" hidden="" checked="" class="uvm--toggle">
				<div class="uvm--round"></div>
			</label>  		
		</td>
		<td align="center">
			<button>
				<img src="/images/edit.svg" alt="">
			</button>
		</td>
	</tr>
{% endmacro %}

{% macro teacherSelect(teacher) %}
	<li class="uvm--option teacher-option" data-teacherid="{{ teacher.Id }}">
		{{ teacher.LastName }}
		{{ teacher.FirstName }}
		{{ teacher.MiddleName }}
	</li>
{% endmacro %}
