
{% macro tableTeacher(teacher) %}
	<tr data-userid="{{ teacher.Id }}">
		<td>{{ teacher.Id }}</td>
		<td>{{ teacher.LastName  }}</td>
		<td>{{ teacher.FirstName }}</td>
		<td>{{ teacher.MiddleName }}</td>
		<td>{{ teacher.Email }}</td>
		<td>{{ teacher.Login }}</td>
		<td>{{ teacher.PhoneNumber }}</td>
		<td align="center">
			<label class="uvm--toggle-container">
				<input type="checkbox" hidden="" checked="" class="uvm--toggle">
				<div class="uvm--round"></div>
			</label>  		
		</td>
		<td align="center">
			<button>
				<img src="/images/edit.svg" alt="">
			</button>
		</td>
	</tr>
{% endmacro %}

{% macro teacherSelect(teacher, cls) %}
	<li class="uvm--option {{ cls }}" data-userid="{{ teacher.Id }}">
		{{ teacher.LastName }} {{ teacher.FirstName }} {{ teacher.MiddleName }}
	</li>
{% endmacro %}

{% macro disciplineTeacher(teacher) %}
	<tr data-userid="{{ teacher.Id }}">
		<td align="center">
			{{ teacher.Id }}
		</td>
		<td>
			{{ teacher.LastName }} {{ teacher.FirstName }} {{ teacher.MiddleName }}
		</td>
	</tr>
{% endmacro %}
