{% macro lessons(lesson) %}
	<td valign="bottom" class="removable" {% if lesson.Title == 'lec' %}
			title="Лекція"
		{% elseif lesson.Title == 'iw' %}
			title="Самостійна робота"	
		{% elseif lesson.Title == 'pw' %}
			title="Практична робота" 
		{% elseif lesson.Title == 'lab' %}
			title="Лабараторна робота" 
		{% elseif lesson.Title == 'bc' %}
			title="Рубіжний контроль"
		{% elseif lesson.Title == 'ret' %}
			title="Переатестація"
		{% elseif lesson.Title == 'tc' %}
			title="Тематичная атестація"
		{% elseif lesson.Title == 'cw' %}
			title="Контроль робота"
		{% elseif lesson.Title == 'sc' %}
			title="Семестрова атестація"
		{% endif %}>
		<div class="type">
			{{ lesson.External }}
		</div>
		<div class="month">
			{{ lesson.Datetime|date("m") }}
		</div>
		<div class="day">
			{{ lesson.Datetime|date("d") }}
		</div>
	</td>
{% endmacro %}

{% macro colors(cls) %}
	<col class="{{ cls }}">
{% endmacro %}

{% macro grade(gr) %}
	<td {% if gr.Grade == 2 %}
			class="bad"
		{% endif %}>
		<select name="" data-gradeid="{{ gr.Id }}" class="grade-select" id="">
			<option value="" hidden="" selected="">
				{% if gr.Grade == 0 %}
					Н/А
				{% endif %}
			</option>
			{% for value in 1..5 %}
				<option value="{{ value }}" {% if gr.Grade == value %}
				selected
			{% endif %}>
				{% if value == 1 %}
					НБ
				{% else %}
					{{ value }}
				{% endif %}
			</option>
			{% endfor %}
		</select>
	</td>
{% endmacro %}

{% macro students(student) %}
		{% import _self as this %}
		
		<tr data-studentid="{{ student.Id }}">
			<td>
				<span>
					{{ student.Id }}
				</span>
				{{ student.LastName }} {{ student.FirstName[1:1] }}. {{ student.MiddleName[1:1] }}.
			</td>
			{% for gr in student.grades %}
				{{ this.grade(gr) }}
			{% endfor %}
		</tr>
{% endmacro %}

{% macro notifs(notif) %}
<div class="message-container full-w flex alic">
	<div class="admin-image flex jcfs">
		<img src="images/logo-color.svg" alt="">
	</div>
	<div class="right-message-container full-w">
		<div class="admin-name">Адміністратор</div>
		<div class="message">
			{{ notif.Text }}
		</div>
	</div>
	<div class="accept-notify-teacher" data-id="{{ notif.Id }}">
		<img src="images/accept.svg" alt="">
	</div>
</div>
{% endmacro %}