<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/uvmSearchSelect.css">
    <link rel="stylesheet" href="css/teacher.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/uvmInput.css">
</head>
<body>
    <div class="wrapper full-w">
        <div class="header full-w flex alic jcsa">
            <div class="logo">
                <img src="images/logo.svg" alt="">
            </div>
            <div class="status">
                <div class="flex jcc">
                    <div class="online-container flex">
                        <div class="online-label flex alic">В мережі</div>
                        <div class="online flex alic">
                            {{ name.LastName }} {{ name.FirstName[0:1] }}.{{ name.MiddleName[0:1] }}.
                        </div>
                    </div>
                    <a href="/user/logout" class="logout">Вийти</a>
                </div>
                <div class="flex discipl-container">
                    <div class="discipl-label flex alic">Дисципліна</div>
                    <div class="uvm--select discipl-select">
                        <div class="uvm--current-item">
                            Оберіть дисципліну
                        </div>
                        <div class="uvm--options disciplines">
                            <div class="uvm--search-container">
                                <input type="text" placeholder="Пошук..." class="uvm--input-search">
                            </div>
                            <ul class="uvm--options-list">
                                {% for discipl in disciplines %}
                                    <li class="uvm--option" data-disciplid="{{ discipl.Id }}">
                                        {{ discipl.Title }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>                
                </div>
            </div>
            {# <div class="program-button flex fdc alic">
                <p class="report-label">Відомість</p>
                <div class="full-w flex fdc alic">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div> #}
        </div>
        <div class="main full-w flex jcc">
            <div class="notifications">
                <div class="bell">
                    <img src="images/bell.svg" alt="">
                </div>
            </div>
            <div class="grades-table-wrapper flex fdc alifs">
                <div class="add-lesson flex jcc alic">
                    Додати пару
                </div>
                <table class="grades-table">
                    <colgroup class="cols">
                    <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <td>
                                <div class="uvm--select group-select">
                                    <div class="uvm--current-item">
                                        Група
                                    </div>
                                    <div class="uvm--options">
                                        <ul class="uvm--options-list groups">
                                            Груп нема
                                        </ul>
                                    </div>
                                </div> 
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
	<div class="grade-modal-wrapper modal-wrapper grade-modal flex jcc alic">
		<form class="grade-modal-content flex jcsb fdc" name="addTheme">
			<div class="uvm--select ds-teach-select">
				<div class="uvm--current-item">
					Оберіть тип заняття
				</div>
				<div class="uvm--options">
					<div class="uvm--search-container">
						<input type="text" placeholder="Пошук..." class="uvm--input-search">
					</div>
					<ul class="uvm--options-list ds-teachers-list">
						<li class="uvm--option lesson-type" data-lessonType="1">Лекція</li>
                        <li class="uvm--option lesson-type" data-lessonType="2">Тематична атестація</li>
                        <li class="uvm--option lesson-type" data-lessonType="3">Практична робота</li>
                        <li class="uvm--option lesson-type" data-lessonType="4">Самостійна</li>
                        <li class="uvm--option lesson-type" data-lessonType="5">Контрольна робота</li>
                        <li class="uvm--option lesson-type" data-lessonType="6">Лабораторна робота</li>
                        {# <li class="uvm--option lesson-type" data-lessonType="7">Переатестація</li> #}
                        <li class="uvm--option lesson-type" data-lessonType="8">Семестрова атестація</li>
                        <li class="uvm--option lesson-type" data-lessonType="9">Рубіжний контроль</li>
					</ul>
				</div>
			</div>
			<div class="modal-controls flex jcsb">
				<button class="cls-lesson-modal">
					Відміна
				</button>
				<button class="accept-lesson" type="button">
					Додати
				</button>
			</div>
		</form>
	</div>
    <script src="scripts/uvm.js"></script>
    <script src="scripts/modal.js"></script>
    <script src="scripts/uvmSearchSelect.js"></script>
    <script src="scripts/teacher/teacher.js"></script>
</body>
</html>